div.slider-handle {
    width: 15px;
    height: 15px;
    top: -6px;
    background-color: #555;
    cursor: move;
}

div.slider-track {
    position: relative;
    top: 10px;
    width: 300px;
    background-color: #aaa;
    height: 5px;
}

div.slider-value {
width: 170px;
    position: relative;
    top: 0px;
    left: 310px;
}

div.slider-handle-custom {
    width: 15px;
    height: 15px;
    left:20px;
    top: -6px;
    background-color: #555;
    cursor: move;
}

div.slider-track-custom {
    position: relative;
    top: -6px;
    left:20px;
    width: 256px;
    background-color: #aaa;
    height: 5px;
}

div.slider-value-custom {
    width: 170px;
    position: relative;
    top: 6px;
    left: 70px;
}