div.slider-handle {
    width: 15px;
    height: 15px;
    top: -6px;
    background-color: #555;
    cursor: move;
}

div.slider-track {
    position: relative;
    top: 10px;
    width: 300px;
    background-color: #aaa;
    height: 5px;
}

div.slider-value {
    position: relative;
    top: 0px;
    left: 310px;
}